/* Estilos básicos para el formulario */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #4CAF50; 
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
  }
  
  /* Estilo para los campos con error */
  .input-error {
    border-color: red !important;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  }
  
  /* Estilo para el mensaje de error */
  .error {
    color: rgb(235, 67, 67);
    font-size: 12px;
    margin: 5px 0;
  }
  
  /* Estilo para el botón */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Animaciones del mensaje de éxito/error */
 .success {
  color: #FFD700; 
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700; 
}
 .danger {
  color: #070000; 
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 5px #c96d6d, 0 0 10px #bd6363;
}



/*  para el título de Contactame */
.contact h2 {
  font-size: 2.2rem; 
  font-family: 'Times New Roman', serif; 
  color: #fff;
  text-transform: uppercase; 
  letter-spacing: 4px; 
  margin-bottom: 25px; 
  position: relative;
}
/* Responsividad para tabletas */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2.5rem; 
    letter-spacing: 3px; 
  }
}

/* Responsividad para móviles */
@media (max-width: 480px) {
  .contact h2 {
    font-size: 2rem; 
    letter-spacing: 2px; 
  }
}
