.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
/* Contenedor principal del proyecto */
.proj-imgbx {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; 
  border-radius: 10px;
  background-color: #f5f5f5; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}

.proj-imgbx:hover {
  transform: scale(1.03); 
}

/* Estilo para las im치genes */
.proj-imgbx img {
  width: 105%; 
  height: auto; 
  object-fit: cover; 
}

/* Texto sobre las im치genes */
.proj-txtx {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); 
  color: #fff;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  opacity: 0;
}

.proj-imgbx:hover .proj-txtx {
  opacity: 1;
}

/* Contenedor de la fila para mantener dise침o fluido */
.project .row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

/* Ajustes para pantallas grandes */
@media (min-width: 992px) {
  .proj-imgbx {
    height: 300px; 
  }

  .proj-imgbx img {
    height: 100%;
    object-fit: cover; 
  }
}

/* Ajustes para pantallas medianas */
@media (max-width: 768px) {
  .proj-imgbx {
    height: auto; 
  }

  .proj-imgbx img {
    object-fit: contain; 
  }
}

/* Ajustes para pantallas peque침as */
@media (max-width: 576px) {
  .proj-imgbx {
    margin-bottom: 15px; 
  }

  .proj-txtx {
    font-size: 0.9rem; 
    padding: 8px;
  }
}


